<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <script type="text/javascript" src="/plug/jquery/jquery-1.12.4.min.js"></script>
    <title>飞飞博客</title>
    <meta name="Keywords" content="飞飞博客"/>
    <meta name="Description" content="飞飞博客"/>
    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/css/basic.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/comment.css"/>

</head>
<body>
<div class="navbar navbar-fixed-top" style="_position: relative;_z-index: 10000;">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav" id="navID">
                    <li class="active"><a href="index.html"><b>首页</b></a></li>
                    <li class=""><a href="cxzx_list.html"><b>学习</b></a></li>
                    <li class=""><a href="cxfw_list.html"><b>问题</b></a></li>
                </ul>
            </div><!--/.nav-collapse -->
            <div class="popup-div tips-div" style="position: absolute;z-index: 10000001;display: none;"></div>
        </div>
    </div>
</div>
<div class="top-div">
    <div class="container clearfix">
        <div class="span3" style="margin-left:0px;font-size:30pt;">
            杨腾飞博客
        </div>
    </div>
</div>
<div class="hr tp-div-nexthr" style="margin-top: 0;margin-bottom: 0;padding: 0;"></div>
<div class="container pb-15">
    <!-- Example row of columns -->
    <div class="row home-index">
        <div class="span13">
            <div class="span7">
                <div class="label-div t-20 border-all">
                    <div class="l-15">
                        <h3 class="label-title border-b b-15 small clearfix" style="padding-bottom: 14px;">
                            <a href="javascript:;" title="创新项目" class="pull-left r-10">资讯</a>
                            <span class="pull-left"></span>
                        </h3>
                    </div>
                    <div class="label-main">
                        <div class="news-slides b-15 l-15">
                            <div class="slides-list slides-banner">
                                <div class="slides-css" style="display:block;">
                                    <a target="_blank" href="javascript:;" title="标题标题" rel="bookmark">
                                        <img alt="标题标题" src="/images/lunbo1.jpg"/>
                                    </a>
                                </div>
                                <div class="slides-css" style="display:none;">
                                    <a target="_blank" href="javascript:;" title="标题标题" rel="bookmark">
                                        <img alt="标题标题" src="/images/lunbo2.jpg"/>
                                    </a>
                                </div>
                            </div>



                            <!--第二组新闻结束-->
                            <div class="slides-title slides-banner-title" style="display:none;">
                                <div class="intro">
                                    <h1 class="t-15"><a href="javascript:;" title="标题标题标题标题" rel="bookmark"
                                                        target="_blank">标题标题标题标题标题标题2222222</a></h1>
                                </div>
                                <div class="clearfix t-10 related-news"
                                     style="height:45px; overflow:hidden; position:relative;">
                                    <a class="pr-5 fc333 ie6png" href="javascript:;" rel="bookmark" title="标题"
                                       target="_blank">标题标题标题标题标题1</a>
                                    <a class="pr-5 fc333 ie6png" href="javascript:;" rel="bookmark" title="标题"
                                       target="_blank">标题标题标题标题1</a>

                                </div>

                            </div>
                            <!--第二组新闻结束-->
                        </div>

                        <!--图文解说开始-->
                        <div class="hr l-15 t-15 b-20"></div>
                        <!--第一个开始-->
                        <div class="l-15 mmtop">
                            <h3 class="label-title border-b small clearfix"
                                style="padding-bottom: 14px; margin-bottom:14px;">
                                <a href="javascript:;" title="创新咨讯" class="pull-left r-10">学习</a>

                                <a href="/topic.html" title="更多" class="more-add ie6png pull-right">&nbsp;</a>
                            </h3>
                        </div>
                        <div class="news-list b-30 clearfix">
                            <div class="spanm3 pull-left" style="padding-top:7px;">
                                <a href="javascript:;" rel="bookmark" title="标题" style="display: block;"
                                   target="_blank">
                                    <img src="/images/y.jpg"/>
                                </a>
                            </div>
                            <div class="offsetindex3 intro">
                                <h1><a href="javascript:;" title="标题标题标题" rel="bookmark" target="_blank">标题标题标题标题标题标题标题标题</a>
                                </h1>
                                <p class="t-5 fc666" style=" margin-bottom:0px;">
                                    标题标题标标题标题标题标题标题标题题标题标题标题标题标题标题题标题标题标题标题标题。</p>
                                <div class="myxm"><span><a href="">北京</a></span> <span class="two"><a
                                        href="">项目分类</a></span> 2013/03/02
                                </div>
                                <div class="clearfix">
                                    <a class="follow-btn pr-10 ie6png news-follow-btn" href="javascript:void(0);"
                                       title="1人关注	2人分享	3人评论" data-id="104423" data-type="news">6人</a>
                                    <a class="read-btn ie6png" href="javascript:void(0);" title="370次阅读">370次</a>
                                </div>
                            </div>
                        </div>

                        <!--第一个结束-->

                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="label-div t-20 border-all">

                    <!--栏目展示-->
                    <div class="l-15 mmtop">
                        <h3 class="label-title border-b small clearfix"
                            style="padding-bottom: 14px; margin-bottom:14px;">
                            <a href="javascript:;" title="创新咨讯" class="pull-left r-10">最新问题</a>

                            <a href="/topic.html" title="更多" class="more-add ie6png pull-right">&nbsp;</a>
                        </h3>
                    </div>
                    <!--栏目展示结束-->


                    <div class="label-main questionList">

                        <!--内容介绍第一个-->
                        <!--
                        <div class="topic-list b-45">
                            <div class="clearfix">
                                <div class="span1 pull-left">
                                    <a href="javascript:;" rel="bookmark" title="标题标题标题标题1" target="_blank">
                                        <img class="lazyloadimg" alt="标题标题" src="images/i2.jpg"/>
                                    </a>
                                </div>

                                <div class="offset1 intro">
                                    <h1><a href="javascript:;" title="标题" rel="bookmark" target="_blank">标题标题标题标题标题标题标题标题</a>
                                    </h1>
                                </div>
                            </div>
                            <div class="intro l-20">
                                <p class="t-15 fc666 mmbuttom">
                                    标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题。</p>

                                <div class="clearfix">
                                    <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="1人关注">1人</a>
                                    <a class="read-btn ie6png" href="javascript:void(0);" title="277次浏览">277次</a>
                                </div>

                            </div>
                        </div>
                         -->
                        <!--内容介绍第一个结束-->

                    </div>
                </div>
            </div>
        </div>
        <!--右侧栏目--->
        <div class="span3">
            <div class="label-div t-20 border-all">
                <div class="l-15"><h3 style="padding-bottom: 14px;" class="label-title border-b b-20 small clearfix">
                    关注我们</h3></div>
                <!--
                <div class="l-15 home-other clearfix">
                    <a target="_blank" class="home-sina" title="新浪微博" href="http://weibo.com/2094942911/"><img
                            style="width: 20%;max-width: 36px;display: inline-block;" src="/images/sina.png" alt="新浪微博"></a>
                    <a target="_blank" class="home-qq" title="腾讯微博" href="http://t.qq.com/shengwu___tansuo"><img
                            style="width: 20%;max-width: 36px;display: inline-block;" src="/images/qq.png"
                            alt="腾讯微博"></a>
                    <a target="_blank" class="home-renren" title="人人网" href="http://www.renren.com/600991382"><img
                            style="width: 20%;max-width: 36px;display: inline-block;" src="/images/rr.png" alt="人人网"></a>
                    <a style="margin-right: 0;" target="_blank" class="home-linkin" title="LinkedIn"
                       href="http://cn.linkedin.com/pub/bio-discover/38/4b6/a27"><img
                            style="width: 20%;max-width: 36px;display: inline-block;" src="/images/in.png"
                            alt="LinkedIn"></a>
                </div>
                -->
                <div class="l-15 t-20"><img src="images/mm.png"></div>
                <p style="margin-bottom: 0;" class="l-15 t-5 fc999">扫描微信，随时获得最新资讯</p>
            </div>


            <div class="t-30"><a target="_blank" href="javascript:;"><img src="/images/swxz.png"></a></div>


            <div class="label-div t-30 border-all">
                <div class="l-15">
                    <h3 class="label-title border-b b-15 small clearfix" style="padding-bottom: 14px;">关注项目</h3></div>
                <div class="label-main tody-hot l-15">
                    <ul>
                        <li><a href="">标题标题标题标题标题标题题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                    </ul>
                </div>
            </div>


            <div class="label-div t-30 border-all">
                <div class="l-15">
                    <h3 class="label-title border-b b-15 small clearfix" style="padding-bottom: 14px;">关注咨询</h3>
                </div>
                <div class="label-main tody-hot l-15">
                    <ul>
                        <li><a href="">标题标题标题标题标题标题题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>

                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- /container -->
<div class="container">

    <div class="hr"></div>

</div>

<!-- /container -->


</div>


<div class="footer">

    <div class="clearfix" style="background:#EDEDED;">

        <ul class="about-ul">
            <li>客服电话 400-100-8884 - More Templates <a href="http://www.cssmoban.com/" target="_blank"
                                                      title="模板之家">模板之家</a></li>
            <li><span>|</span></li>
            <li><a title="广告投放" href="javascript:;" class="fc666" target="_blank">广告投放</a></li>
            <li><span>|</span></li>
            <li><a title="企业服务" href="javascript:;" class="fc666" target="_blank">企业服务</a></li>
            <li><span>|</span></li>
            <li><a title="公司博客" href="javascript:;" class="fc666" target="_blank">公司博客</a></li>
            <li><span>|</span></li>
            <li><a title="加入我们" href="javascript:;" class="fc666" target="_blank">加入我们</a></li>
            <li><span>|</span></li>
            <li><a title="服务协议" href="javascript:;" class="fc666" target="_blank">服务协议</a></li>
            <li><span>|</span></li>
            <li id="zk_btn" class="ie6png down-class">
                <a title="友情链接" href="javascript:void(0);" class="fc666">友情链接</a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>

    <div class="friend-link border-all t-20 b-20">
        <ul class="clearfix">

        </ul>
    </div>

    <p>Copyright ©2013　　备8888888888号</p>

</div>
</body>
</html>
<script type="text/javascript" src="/js/common/soaryang.ajax.plug.js"></script>
<script type="text/javascript" src="/js/common/soaryang.date.plugin.js"></script>
<script type="text/javascript" src="/js/index/index.js"></script>